page-user-home {
    .mapSelect{
        background-color:#160a8b;
    }
    agm-map {
        margin-top: 5rem;
        height: 100%;
      }
    #container {
        
    }
    #copyright {
        position: absolute;
        bottom: 5rem;
    }
}
